@using DotLms.Web.Models
@model DotLms.Web.Models.CourseViewModel
@{
    ViewBag.Title = Model.Name;
}
@if (Context.User.IsInRole(DotLms.Common.Roles.Admin))
{
    <div class="container-fluid">
        <div class="alert alert-info fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>Administrative options</h4>
            <p></p>
            <p>

                @Html.ActionLink($"Edit this course", "ManageCourse",
                new { Area = "Backoffice", controller = "BackOfficeCourse", courseName = Model.UglyName },
                new { @class = "btn-u btn-u-sea" })

                @Html.ActionLink($"Add new child page", "CreatePage",
                new { Area = "Backoffice", controller = "BackOfficePages", courseId = Model.Id },
                new { @class = "btn-u btn-u-sea" })
            </p>
        </div>
    </div>
}

@if (Model.MainImage != null)
{
    <div class="bg-image-v1 parallaxBg" style="background: url(@Model.MainImage.Url) repeat fixed">
        <div class="container">
            <div class="headline-center headline-light">
                <h2>@Model.Name</h2>
                <p>
                   @Html.Raw(Model.ShortDescription)
                </p><br>
               @* <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-light">Download Now</button>*@
            </div><!--/end Headline Center-->
        </div>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-sm-9 row">
            <div class="col-sm-6">
                <div class="headline"><h2>@Model.Name</h2></div>
            </div>
            <div class="col-sm-12">
                @Html.Raw(Model.FullDescription)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="headline"><h2>Child Pages</h2></div>
            @if (Model.ChildPages.Any())
            {
                <ol>
                    @foreach (PageViewModel page in Model.ChildPages)
                    {
                        <li>
                            @Html.ActionLink($"{page.Name}", "GetPage",
                           new { courseName = Model.UglyName, childPageName = page.UglyName })
                        </li>
                    }
                </ol>
            }
            else
            {
                <div class="alert alert-info fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    This course has no child pages.
                </div>
            }
        </div>
    </div>
</div>