@model CourseViewModel
@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Backoffice/Views/Shared/_BackofficeMaster.cshtml";
}
@Scripts.Render("~/bundles/tinymce")
<script src="~/Areas/Backoffice/Assets/js/tinyMCE-config.js" data-selector=".short-description-mce"></script>
<script src="~/Areas/Backoffice/Assets/js/tinyMCE-config.js" data-selector=".full-description-mce"></script>

<div class="row">
    <!-- Begin Content -->
    <div class="col-md-12">
        <!-- Checkout-Form -->
        @using (Html.BeginForm("CreateCourse", "BackOfficeCourse", FormMethod.Post, new { @class = "sky-form" }))
        {
            @Html.AntiForgeryToken()

            <header>Create new course</header>
            <fieldset>
                <div class="row">
                    <section class="col col-6">
                        @Html.LabelFor(x => x.Name)
                        @Html.TextBoxFor(x => x.Name)
                        @Html.ValidationMessageFor(x => x.Name)
                    </section>
                    <section class="col col-6">
                        @Html.LabelFor(x => x.MainImage, new { @class = "input input-file" })
                        @Html.TextBoxFor(x => x.MainImage, new { type = "file" })
                        @Html.ValidationMessageFor(x => x.MainImage)
                    </section>
                </div>
                <div class="row">
                    <section class="col col-6"></section>
                    <section class="col col-6"></section>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <section class="col-sm-12">
                        @Html.LabelFor(x=>x.ShortDescription)
                        @Html.TextAreaFor(x => x.ShortDescription, new {@class = "short-description-mce"})
                    </section>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <section class="col-sm-12">
                        @Html.LabelFor(x => x.FullDescription)
                        @Html.TextAreaFor(x => x.FullDescription, new {@class = "full-description-mce"})
                    </section>
                </div>
            </fieldset>
            <footer>
                <button type="submit" class="btn-u">Continue</button>
            </footer>
        }
    </div>
</div>