@model IEnumerable<CourseViewModel>
@{
    ViewBag.Title = "Courses";
    Layout = "~/Areas/Backoffice/Views/Shared/_BackofficeMaster.cshtml";
}

<div class="container content-sm">
    <div class="row content-boxes-v2 content-boxes-v2-o margin-bottom-40">
        <div class="col-sm-6 sm-margin-bottom-40">
            <h2 class="heading-sm overflow-h">
                <i class="icon-custom rounded-x icon-md icon-bg-u fa fa-lightbulb-o"></i>
                <span>@Html.ActionLink("Create new course","CreateCourse") <small> Loads new administration page.</small></span>
            </h2>
            <hr class="no-margin margin-bottom-10">
            <p>Description of the action</p>
        </div>
        <div class="col-sm-6 sm-margin-bottom-40">
            <h2 class="heading-sm overflow-h">
                <i class="icon-custom rounded-x icon-md icon-bg-blue fa fa-bullhorn"></i>
                <span>@Html.ActionLink("Create new course category","CreateCourseCategory")<small>Loads new administration page.</small></span>
            </h2>
            <hr class="no-margin margin-bottom-10">
            <p>Description of the action</p>
        </div>
    </div>

</div>

<div class="container content-sm">
    <div class="row">
        @foreach (var course in Model)
        {
            <div class="col-sm-6">
                <div class="funny-boxes funny-boxes-left-dark">
                    <div class="row">
                        <div class="col-md-4 funny-boxes-img">
                            <img class="img-responsive" src="@course.MainImage.Url" alt="@course.MainImage.Name">
                            <ul class="list-unstyled">
                                <li><i class="fa-fw fa fa-briefcase"></i> Dell, Google</li>
                                <li><i class="fa-fw fa fa-map-marker"></i> New York, US</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2>
                                <a href="@course.Url">@course.Name</a>
                            </h2>
                            <div>
                                @Html.Raw(course.ShortDescription)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
